/* RESET */
*{
    
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    height: 100%;
    overflow-x: hidden;
}

/* NAVIGATION BAR */
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 2.5em;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    
}
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-top: 24px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* BANNER */
section{
    background: url(images/web-dev.jpg) no-repeat;
    background-size: 100% 100%;
    height: calc(100% - 80px);
    min-height: calc(100vh - 80px);
    padding: 20vw 0 5vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;

}
section .layer{
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 1em;
    color: ivory;
    margin-top: -120px;  
    width: auto;
    transition: 2s;
}
section .layer:hover{
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8);
}


/* CONTAINER E CARDS */
.container{
    width: 100%;
    height: 100vh;
    padding: 50px 170px;
    background: #333;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
}
img{
    height: 120px;
    width: 120px;
}
.container .card{
    position: relative;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(120px);
}
.container .card:hover .face.face1{
    background: #0afa66;
    transform: translateY(0);
}
.container .card .face.face1 .content{
    opacity: 0.3;
    transition: 0.5s;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content img{
    max-width: 100px;
}
.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}
.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-80px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;

    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/* MEDIA QUERIES */
@media (max-width: 1300px){
    nav ul li a{
        font-size: 16px;
        ;
    }
    .container{
        padding: 50px 70px;
    }

}

@media (max-width: 1214px){
    label.logo{
        font-size: 1.6em;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 14px;
        ;
    }
    .container{
        padding: 50px 50px; 
    }

}

@media (max-width: 1020px){
    label.logo{
        font-size: 1.4em;
        padding-left: 40px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .container{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 200px 200px;
        grid-row-gap: 150px;
        justify-content: center;
        height: 1200px;    
    }
}

@media (max-width: 941px){
    label.logo{
        font-size: 1.5em;
        padding-left: 40px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: calc(100% - 80px);
        height: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 60px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
        position: absolute;
        height: 100%;
    }
    .container{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 200px 200px;
        grid-row-gap: 160px;
        justify-content: center;
        height: 1200px;  
    }


}
@media (max-width: 453px){
    label.logo{
        font-size: 1.2em;
        padding-left: 40px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: calc(100% - 80px);
        height: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 60px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
        position: absolute;
        height: 100%;
    }
    .container{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 200px 200px;
        grid-row-gap: 160px;
        justify-content: center;
        height: 1200px;  
    }
}

@media (max-width: 398px){
    label.logo{
        font-size: 1.0em;
        padding-left: 40px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: calc(100% - 80px);
        height: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 60px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
        position: absolute;
        height: 100%;
    }
    .container{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 200px 200px;
        grid-row-gap: 160px;
        justify-content: center;
        height: 1200px;  
    }
}

@media (max-width: 372px){
    label.logo{
        font-size: 0.8em;
        padding-left: 20px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: calc(100% - 80px);
        height: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 60px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
        position: absolute;
        height: 100%;
    }
    .container{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 200px 200px;
        grid-row-gap: 160px;
        justify-content: center;
        height: 1200px;  
    }
}



